<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pdqpayment>
                <active>0</active>
                <model>Slightpay\Payment\Model\SlightpayButton</model>
                <order_status>complete</order_status>
                <branding>true</branding>
                <title>SlightPay</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </pdqpayment>
        </payment>
    </default>
</config>
